.team-section {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
    background: transparent;
    color: var(--text-color);
    text-align: center;
  
    h2 {
      font-size: 2.5rem;
  
      span {
        color: #50bfff;
      }
    }
  
    .subtitle {
      margin: 1rem 0 2rem;
      font-size: 1rem;
      color: #636262;
    }
  
    .carousel-wrapper {
      position: relative;
      overflow: hidden;
      padding: 0 2rem;
  
      .carousel {
        display: flex;
        gap: 1rem;
        transition: scroll-behavior 0.3s ease-in-out;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
  
        &::-webkit-scrollbar {
          display: none;
        }
  
        .team-card {
          min-width: 260px;
          flex: 0 0 auto;
          background: #1a1e2a;
          border-radius: 12px;
          padding: 1rem;
          scroll-snap-align: start;
          transition: transform 0.3s ease;
          position: relative;
  
          img {
            width: 100%;
            height: 200px;
            object-fit: scale-down;
            border-radius: 10px;
  
          }
  
          h3 {
            margin-top: 1rem;
            font-size: 1.2rem;
            color: #50bfff;
          }
  
          .role {
            color: #aaa;
          }
  
          a {
            color: #50bfff;
            text-decoration: none;
            display: inline-block;
            margin-top: 0.5rem;
          }
  
          span {
            position: absolute;
            top: 0px;
            right: -10px;
            background-color: #50bfff;
            color: #fff;
            padding: 2px 5px;
            border-radius: 10px;
            transform: translateY(10px);
          }
        }
      }
  
      .nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
        color: white;
        border: none;
        font-size: 1.5rem;
        padding: .9rem .9rem;
        z-index: 10;
        cursor: pointer;
        border-radius: 50px;
  
        .mat-icon {
          font-size: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        &.left {
          left: 0;
        }
  
        &.right {
          right: 0;
        }
      }
    }
  
    .view-all {
      margin-top: 2rem;
      background: none;
      border: 1px solid #50bfff;
      color: #50bfff;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s;
  
      &:hover {
        background: #50bfff;
        color: #000;
      }
    }
  
    @media (max-width: 768px) {
      .carousel-wrapper {
        padding: 0 1rem;
  
        .carousel {
          .team-card {
            min-width: 80%;
          }
        }
  
        .nav {
          display: block;
        }
      }
    }
  }